.embla {
    max-width: 48rem;
    margin: auto;
    --slide-spacing: 20px;
    --slide-size: 100%;
}
.embla__viewport {
    position: relative;
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.embla__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 1;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embla__button:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}
.embla__button__svg {
    width: 35%;
    height: 35%;
}
.embla-thumbs__viewport {
    overflow: hidden;
}
.embla-thumbs__container {
    display: flex;
    flex-direction: row;
    touch-action: pan-y pinch-zoom;
    margin: -3.375px -6px;
}
.embla-thumbs__slide {
    cursor: pointer;
    height: 54px;
    aspect-ratio: 16 / 9;
    padding-inline: 6px;
    display: flex;
    align-items: center;
}

.embla-thumbs__slide img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

.embla-thumbs__slide--selected img {
    position: relative;
    border: 2px solid;
}
